In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tech\anaconda3\lib\site-packages (2.9.7)Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.7-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 7.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.7
Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install -c anaconda psycopg2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Tech\anaconda3

  added / updated specs:
    - psycopg2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.01.10 |       haa95532_0         158 KB  anaconda
    certifi-2022.12.7          |  py310haa95532_0         153 KB  anaconda
    krb5-1.19.4                |       h5b6d351_0         831 KB  anaconda
    libpq-12.9                 |       hb652d5d_3         3.6 MB  anaconda
    openssl-1.1.1v             |       h2bbff1b_0         5.5 MB
    psycopg2-2.9.3             |  py310hcd4344a_0         158 KB  anaconda
    ------------------------------------------------------------
                                           Total:        10.4 MB

The following NEW packages will be INSTALLED:

  krb5               anaconda/win-64::krb5-1.19.4-h5b6d351_0
  libpq              anaconda/win-64::libpq-12.9-hb652d5d_3
  psycopg2           anaconda/win-64::psycopg2-2.9.3-py310hcd4344a_0

The following packages will be UPDATED:

  openssl                                 1.1.1t-h2bbff1b_0 --> 1.1.1v-h2bbff1b_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  certifi                                         pkgs/main --> anaconda



Downloading and Extracting Packages

krb5-1.19.4          | 831 KB    |            |   0%

certifi-2022.12.7    | 153 KB    |            |   0%


openssl-1.1.1v       | 5.5 MB    |            |   0%



ca-certificates-2023 | 158 KB    |            |   0%




psycopg2-2.9.3       | 158 KB    |            |   0%





libpq-12.9           | 3.6 MB    |            |   0%


openssl-1.1.1v       | 5.5 MB    | 1          |   1%
krb5-1.19.4          | 831 KB    | 1          |   2%



ca-certificates-2023 | 158 KB    | #          |  10%

certifi-2022.12.7    | 153 KB    | #          |  10%
krb5-1.19.4          | 831 KB    | #####3     |  54%



ca-certificates-2023 | 158 KB    | ########## | 100%



ca-certificates-2023 | 158 KB    | ########## | 100%





libpq-12.9           | 3.6 MB    |            |   0%

certifi-2022.12.7    | 153 KB    | ########## | 100%

certifi-2022.12.7    | 153 KB    | ########## | 100%





libpq-12.9           | 3.6 MB    | #3         |  13%


openssl-1.1.1v       | 5.5 MB    | ########## | 100%


openssl-1.1.1v       | 5.5 MB    | ########## | 100%




psycopg2-2.9.3       | 158 KB    | #          |  10%
krb5-1.19.4          | 831 KB    | ########## | 100%
krb5-1.19.4          | 831 KB    | ########## | 100%




psycopg2-2.9.3       | 158 KB    | ####       |  40%




psycopg2-2.9.3       | 158 KB    | ########## | 100%




psycopg2-2.9.3       | 158 KB    | ########## | 100%





libpq-12.9           | 3.6 MB    | ########## | 100%





libpq-12.9           | 3.6 MB    | ########## | 100%























Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.3.1
  latest version: 23.7.2

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.7.2

In [1]:
import psycopg2
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="root")

In [8]:
# Open a cursor to perform database operations
cur = conn.cursor()
# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE datacamp_courses(
            course_id SERIAL PRIMARY KEY,
            course_name VARCHAR (50) UNIQUE NOT NULL,
            course_instructor VARCHAR (100) NOT NULL,
            topic VARCHAR (20) NOT NULL);
            """)
# Make the changes to the database persistent
conn.commit()
# Close cursor and communication with the database
--cur.close()
--conn.close()

DuplicateTable: relation "datacamp_courses" already exists

In [3]:
cur = conn.cursor()

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to SQL','Izzy Weber','Julia')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Analyzing Survey Data in Python','EbunOluwa Andrew','Python')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to ChatGPT','James Chapman','Theory')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to Statistics in R','Maggie Matsui','R')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Hypothesis Testing in Python','James Chapman','Python')");

conn.commit()

UniqueViolation: duplicate key value violates unique constraint "datacamp_courses_course_name_key"
DETAIL:  Key (course_name)=(Introduction to SQL) already exists.

In [4]:
cur = conn.cursor()
cur.execute('SELECT * FROM datacamp_courses;')
rows = cur.fetchall()
conn.commit()
--conn.close()
for row in rows:
    print(row)

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
cur = conn.cursor()
cur.execute("UPDATE datacamp_courses SET topic = 'SQL' WHERE course_name = 'Introduction to SQL';")
conn.commit()
--conn.close()

In [5]:
from sqlalchemy import create_engine

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/postgres')

In [5]:
conn=engine.connect()

In [4]:

row_count = conn.execute("select * from books")

In [5]:
print(type(row_count))

<class 'sqlalchemy.engine.cursor.LegacyCursorResult'>

In [6]:
print(row_count)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x000002127863F790>

In [23]:
for row in row_count:
   print (row)

In [24]:
for row in row_count:
   print (row)

In [30]:

datee2 = conn.execute("select CURRENT_DATE")

In [31]:
for row in datee:
   print (row)
   print(type(row))

In [34]:
print(type(datee2))

<class 'sqlalchemy.engine.cursor.LegacyCursorResult'>

In [33]:
for row1 in datee:
   print (row1)
   print(type(row1))

In [35]:
row_count = conn.execute("select * from books")

In [36]:
for row in row_count:
   print (row)

(1, 'Example Book 1', 'John Doe', 2005)
(2, 'Example Book 2', 'Jane Smith', 2010)
(3, 'Example Book 3', 'Michael Johnson', 2018)
(4, 'Example Book 1', 'John Doe', 2005)
(5, 'Example Book 2', 'Jane Smith', 2010)
(6, 'Example Book 3', 'Michael Johnson', 2018)
(7, 'Example Book 1', 'John Doe', 2005)
(8, 'Example Book 2', 'Jane Smith', 2010)
(9, 'Example Book 3', 'Michael Johnson', 2018)
(10, 'Example Book 1', 'John Doe', 2005)
(11, 'Example Book 2', 'Jane Smith', 2010)
(12, 'Example Book 3', 'Michael Johnson', 2018)
(13, 'Example Book 1', 'John Doe', 2005)
(14, 'Example Book 2', 'Jane Smith', 2010)
(15, 'Example Book 3', 'Michael Johnson', 2018)
(16, 'Example Book 1', 'John Doe', 2005)
(17, 'Example Book 2', 'Jane Smith', 2010)
(18, 'Example Book 3', 'Michael Johnson', 2018)
(19, 'Example Book 1', 'John Doe', 2005)
(20, 'Example Book 2', 'Jane Smith', 2010)
(21, 'Example Book 3', 'Michael Johnson', 2018)
(22, 'Example Book 1', 'John Doe', 2005)
(23, 'Example Book 2', 'Jane Smith', 2010)
(24, 'Example Book 3', 'Michael Johnson', 2018)
(25, 'Example Book 1', 'John Doe', 2005)
(26, 'Example Book 2', 'Jane Smith', 2010)
(27, 'Example Book 3', 'Michael Johnson', 2018)

In [37]:
for row in row_count:
   print (row)

In [9]:
result = conn.execute("select * from books")

In [12]:
row = result.fetchall()

In [14]:
print(type(row))

<class 'list'>

In [2]:
import pandas as pd

In [17]:
df = pd.DataFrame(row)
df.head(100)

    book_id           title           author  publication_year
0         2  Example Book 2       Jane Smith              2010
1         3  Example Book 3  Michael Johnson              2018
2         4  Example Book 1         John Doe              2005
3         5  Example Book 2       Jane Smith              2010
4         6  Example Book 3  Michael Johnson              2018
5         7  Example Book 1         John Doe              2005
6         8  Example Book 2       Jane Smith              2010
7         9  Example Book 3  Michael Johnson              2018
8        10  Example Book 1         John Doe              2005
9        11  Example Book 2       Jane Smith              2010
10       12  Example Book 3  Michael Johnson              2018
11       13  Example Book 1         John Doe              2005
12       14  Example Book 2       Jane Smith              2010
13       15  Example Book 3  Michael Johnson              2018
14       16  Example Book 1         John Doe              2005
15       17  Example Book 2       Jane Smith              2010
16       18  Example Book 3  Michael Johnson              2018
17       19  Example Book 1         John Doe              2005
18       20  Example Book 2       Jane Smith              2010
19       21  Example Book 3  Michael Johnson              2018
20       22  Example Book 1         John Doe              2005
21       23  Example Book 2       Jane Smith              2010
22       24  Example Book 3  Michael Johnson              2018
23       25  Example Book 1         John Doe              2005
24       26  Example Book 2       Jane Smith              2010
25       27  Example Book 3  Michael Johnson              2018

In [12]:
rrr = 2

In [24]:
query = """
with cte as (
select author,row_number() over(Partition by author order by publication_year)as rr from books
    where author = 'John Doe'
)
select * from cte
where rr != %s 
"""

In [9]:
from sqlalchemy.sql import text

In [22]:
s = text("""
with cte as (
select author,row_number() over(Partition by author order by publication_year)as rr from books
    where author = 'John Doe'
)
select * from cte
where rr not in ( :x )
""")

In [27]:
result11 = conn.execute(query,rrr)
row1 = result11.fetchall()
df11 = pd.DataFrame(row1)
df11.head(100)

     author  rr
0  John Doe   1
1  John Doe   3
2  John Doe   4
3  John Doe   5
4  John Doe   6
5  John Doe   7
6  John Doe   8
7  John Doe   9

In [28]:
df1.head()

     author  rr
0  John Doe   1
1  John Doe   3
2  John Doe   4
3  John Doe   5
4  John Doe   6